body{
    background-color: #333;
    color: #fff
}

.block{
    background-color: purple;
    width: 200px;
}
/*en elemntos en línea no funcionada 
dar dimensiones como width an heigh*/

.inline{
    background-color: lightcoral;
    
}

.box{
    width: 200px;
    height:200px;
    background-color: lightcoral;
    box-shadow: 5px 5px 10px rgb(0 0 0/0.5);
}
